extends layout

block content
 h1= title
 form(id='rabbitForm', action="/resource/rabbits", method="POST")
  div.form-group
    label.rabbitAttr(for='rabbit_color') rabbit color
    input#rabbit_color(type='text', name='rabbit_color')
  div.form-group
    label.rabbitAttr(for='rabbit_breed') rabbit breed
    input#rabbit_breed(type='text', name='rabbit_breed')
  div.form-group
    label.rabbitAttr(for='rabbit_price') rabbit price
    input#rabbit_price(type='number', name='rabbit_price')
  input(type="submit")

 script.
  document.forms['rabbitForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });